 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
.body {
  /*min-width: 1020px;
  /*font:
  /*color:
  /*background-color:*/

}


header {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 980px;
  margin: 0 auto;
  height: 100px;
  color: grey;

  span {
    float: left;
    color: black;
    top: 36px;
}

 input {
    position: relative;
    float: left;
    width: 170px;
    margin-left: 30px;
    top: 8px;
  }

}










