 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';


// Custom Styles
body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


.container{
  @include outer-container;
  background-color:white;
}//.container close brace

header{
  @include span-columns(12);
  height: 50px;
  background-color:HSLA(0, 0%, 96%, 1);
}

.leftHeader{
  @include span-columns(8);
  height: 100px;
  background-color:HSLA(0, 0%, 96%, 1);
  padding-top: 12px;

  img{
    width:28px;
    float:left;
  }

  input{
    width:350px;
    padding-top: 6px;
  }
  .searchText{
    float:left;
    margin-left: 5px;

  }//end .searchText
  .explore{
    float:left;
    padding-left: 10px;
    text-decoration: none;
    color:HSLA(0, 0%, 20%, 1);
    font-size: 14px;
    padding-top: 6px;
  }//end .explore
  .gist{
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color:HSLA(0, 0%, 20%, 1);
    font-size: 14px;
    padding-top: 6px;

  }//end .gist
  .blog{
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color:HSLA(0, 0%, 20%, 1);
    font-size: 14px;
    padding-top: 6px;
  }//end .blog
  .help{
    float: left;
    padding-left: 10px;
    text-decoration: none;
    color:HSLA(0, 0%, 20%, 1);
    font-size: 14px;
    padding-top: 6px; 
  }//end .help
}//end .leftHeader

.rightHeader{
  @include span-columns(4);
  height: 100px;
  background-color:HSLA(0, 0%, 96%, 1);
}
.sideBar{
  @include span-columns(3);
  height: 800px;
  background-color:white;
  padding-top: 20px;
  img{
    width:230px;
    border-radius: 6px;
  }
}//sideBar end brace

.joinedOnDate{
  font-size: 13px;
  border-top:1px solid lightgrey;
  line-height: 85px;
  padding-top: 18px;
  padding-right: 23px;
}
.joinedOnDate img{
  width: 14px;

}
.nameFull{
  display: block;
overflow: hidden;
width: 100%;
font-size: 26px;
line-height: 30px;
text-overflow: ellipsis;
font-weight:800;
}
.userLoginName{
  font-size: 20px;
  color:HSLA(0, 0%, 40%, 1);
}


.mainSection{
  @include span-columns(9);
  background-color:white;
}
.searchBar{
  @include span-columns(12);
  height: 60px;
  border-top:1px solid lightgrey;
  border-bottom:1px solid lightgrey;
  text-align: middle;
}


.tabBar{
  @include span-columns(12);
  height: 55px;
  background-color:white;
}//end .tabBar
.tabBar ul{
  float:left;
}
.tabBar ul li{
  float: left;
  list-style: none;
  padding-left:30px;
}
.editProfile{
  float: left;
  margin-left: 175px;
  margin-top: 9px;
  height: 36px;

}
.searchRepo{
  float:left;
  padding-top: 17px;
}
.repoFilter li:first-child{
 padding-left: 38px;
}
.repoFilter li{
  float:left;
  list-style:none;
  padding-left:15px;
  padding-top: 4px;
}

.create{
  margin-left: 17px;
  line-height: 33px;
  margin-top: -6px;
  background-color: HSLA(105, 57%, 57%, 1);
  color: white;
  border-color: HSLA(104, 44%, 46%, 1);
}



.item{
  padding-top:30px;
}

.innerMain{
  @include span-columns(12);
  background-color:white;
  .nameLink a{
    color:HSLA(210, 53%, 51%, 1);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    }//.nameLink close
  .descriptColor{
    color:black;
    font-size: 15px;
    padding-top: 10px;
  }//.descriptColor close
  .lastUp{
    padding-top:10px;
  }
  .borderLine{
    width:100%;
    height: 1px;
    background-color:lightgrey;
  }
  .nameLink:hover{
    text-decoration: underline;
  }
}//.innerMain close

footer{
  @include span-columns(12);
  height: 100px;
  background-color:purple;
}








