 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

//Variables
$light-teal: #F5F5F5;
$black: #333333;
$dark-grey: #666666;
$light-grey: #EEEEEE;
$line-grey: #DDDDDD;
$table-grey: #D8D8D8;
$star-grey: #888888;
$text: #777777;
$blue: #4183C4;

//MIXINS
@mixin table-heading {
  background-color: $light-teal;
  border-radius: 3px;
  border: 1px solid #E5E5E5;
}

@mixin link {
  text-decoration: none;
  color: $blue;
  font-weight: bold;
  font-size: 13px;
  &:hover {
    text-decoration: underline;
  }
}

@mixin header-links {
  ul {
    display: inline-block;
    margin: 4px 0px 0px 14px;
    padding: 0;
    float: left;
    a {
      display: inline-block;
      color: $black;
      font-weight: bold;
      padding: 0px 5px;
      font-size: 13px;
      &:hover {
        color: $blue;
      }
    }
  }
}

@mixin repo-items {
  
  &:hover h4 {
    text-decoration: underline;
  }
  .table {
    border: 1px solid $table-grey;
    border-radius: 0;
    padding: 4px 0px;
    position: relative;
    color: $dark-grey;    
    }
    span {
      float: left;
      padding: 3px 8px
    }
    h4 {
      display: block;
      color: $blue;
      font-size: 14px;
    }
    p {
      display: inline-block;
      font-size: 12px;
      margin: 5px 0px;;
    }
    .starred {
      position: absolute;
      top: 14px;
      right: 10px; 
      float: right;
      color: $star-grey;
      font-size: 15px;

      span {
        padding: 0px 2px;
      }
      .star-text {
        font-size: 12px;
        margin-top: 2px;
      }
    }
}


// Custom Styles
* {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  border-radius: 3px;
}

a:hover {
  cursor: pointer;
  color: $blue;
}

body {
  background: #ffffff;
  font-family: "Helvetica Nevue", Helvetica, Arial, sans-serif;
  color: #333333;
  @include span-columns(12);
  min-width: 1100px;
}


////////////////////////////////////////////////
/*HEADER//////////////////////////////////////*/
header {
  @include table-heading;
  @include span-columns(12);
  min-width: 1000px;
  width: 100%;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  height: 55px;
  overflow: auto;


  .wrapper { 
    @include outer-container;
    @include header-links;
    .search-container {
      @include span-columns(7);
      .mega-octicon {
        font-size: 28px;
        width: 30px;
        height: 30px;
        margin: 0;
        padding: 0;
        float: left;
        color: $black;
        &:hover {
          color: $blue;
        }
      }      
      form {
        display: inline-block;
        float: left;        
        .searchBar {
          width: 365px;
          height: 28px;
          margin: 3px 0px 0px 6px;
          border: 1px solid #CCCCCC;
          border-radius: 3px;
          background-color: white;
          font-size: 12px;
          padding: 3px 5px;
        }
        input {
          border: 1px solid transparent;
        }
      }
      ul {
        margin: 7px 0px 0px 14px;
      }  
    }
    .userNavContainer {
      @include span-columns(4);
      float: right;
      li {
        float: left;
        margin: 0px 1px;
        padding: 2px;

        img {
          width: 20px;
          height: 20px;
          float: left;
        }
        .user span {
          display: inline-block;
          margin: 3px 0px 0px 3px;
        }
      }
    }
  }
}

////////////////////////////////////////////////
/*MAIN CONTENT////////////////////////////////*/
