 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin centerPage() {
  margin: 0 auto;
  width: 1020px;
  padding: 0 20px;
}

@mixin searchBox($width, $height) {
  width: $width;
  height: $height;
  padding: 7px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

// Buttons & Menu Down Icon
@mixin baseButton() {
  font-weight: 700;
  padding: 7px 12px;
  line-height: 24px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}



.edit-button {
  @include baseButton;
  padding: 0 10px;
}

.make-new-button {
  @include baseButton;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: white;
}

.menu-down:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

