 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin centerPage() {
  margin: 0 auto;
  width: 1020px;
  padding: 0 20px;
}

@mixin searchBox($width, $height) {
  width: $width;
  height: $height;
  padding: 7px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

// Buttons & Menu Down Icon
@mixin baseButton() {
  font-weight: 700;
  padding: 7px 12px;
  line-height: 24px;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  background-repeat: repeat-x;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}



.edit-button {
  @include baseButton;
  padding: 0 10px;
}

.make-new-button {
  @include baseButton;
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border-color: #5ca941;
  color: white;
}

.menu-down:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: "";
  vertical-align: -2px;
  border: 4px solid;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
    &:focus {
    outline: 0;
  }
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: black;
  background: #fff;
  box-sizing: border-box;
}

ul { 
  margin: 0; padding: 0;
}

li { 
  list-style: none;
  }

a {
  text-decoration: none;
  color: hsla(1, 0%, 0%, 1.0);
}

h3 { 
  font-size: 20px; margin-bottom: 13px;
}

h4 {
  
}

p { 
  margin: 8 0;
}

small {
  font-size: 13px; 
  color: #888;
  }

.searchy-button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  vertical-align: middle;
  background-color: #eee;
  background-repeat: repeat-x;
  border: 1px solid #d5d5d5;
  border-radius: 3px;
}

span {
  .octicon {
    margin-right: 5px;
  }
}
header {
  height: 50px;
  background: #F5F5F5;
  margin-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;

  nav {
   @include centerPage;
   overflow: hidden;

    li {
      float: left;
      margin: 0 9px;
      line-height: 50px;
      font-weight: 700;
      cursor: pointer;
    
      &:first-child {
        margin: 0 -5px 0 0;
      }
    
      &:last-child {
        margin-right: 0;
      }

      &:hover .nav-txt {
        color: #4183c4;
      }
    
      &:hover .logo {
        color: #4183c4;
      }
    }
    ul.explore-list {
      float: left;
      
      li {
        .search-bar {
          @include searchBox(358px, 26px);
          font-size: 12px;
          font-weight: 400;

        }

        &:first-child {
          margin-top: 5px;
        }

        a span{
          font-size: 28px;
          color: hsla(1, 0%, 0%, 1.0);
          &:hover {
          
          }
        }

        .nav-txt {
          font-size: 13px;
          color: hsla(1, 0%, 0%, 1.0)
          //&:hover {
          //  color: black;
          //}

        }
      }
    }

  
      .right-header {
        float: right;
      ul.right-side {
        //float: right;
        li {
          margin: 0 5px;
          a {
            color: #333;
            &:hover {
              color: #4183c4;
            }
          }
          img {
            padding-top: 5px;
            width: 20px;
            border-radius: 5px;
            vertical-align: middle;
          }
          .user-name {
            margin: 0 5px;
          }
          a span {
            font-size: 18px;
            color: #333;
            &:hover {
              color: #4183c4;
            }
          }
          .octicon-plus:after {
            margin-left: 2px;
          }
          .octicon-inbox {
            font-size: 20px;
          }
        }
      }
    }
  }
}

