<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>gitrepo</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

  </head>
  <body>

    <div class="container">


        <header>

            <div class="leftHdr">
                <a href="#" class="logo"><span class="octicon octicon-mark-github"></span></a>
                <form class="searchText">
                    <input type=:"text" id="input_area" placeholder="Search Github">
                </form>
                <a class="explore" href="https://github.com/explore">Explore</a>
                <a class="gist" href="https://gist.github.com">Gist</a>
                <a class="blog" href="https://github.com/blog">Blog</a>
                <a class="help" href="https://help.github.com/">Help</a>
            </div>


            <div class="rightHdr">
                 <ul class="listIcon">

                    <li><img src="https://avatars.githubusercontent.com/u/10402427?v=3" alt="avatar" width="25px">
                     <span class=user-name>jtareb</span></li>
                    <li><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></li>
                    <li><span class="octicon octicon-inbox"></span></li>
                    <li><span class="octicon octicon-gear"></span></li>
                    <li><span class="octicon octicon-sign-out"></span></li>
                </ul>
            </div>
                            

            


            
            

                 <!--<div class="left-header">
                    <ul class="explore-list">
                        <li><a href="#" class="logo"><span class="octicon octicon-mark-github"></span></a></li>
                        <li><form action="search"><input class="search-bar" type="text" placeholder="Search GitHub"></form></li>
                        <a class="explore" href="https://github.com/explore">Explore</a>
                        <a class="gist" href="https://gist.github.com">Gist</a>
                        <a class="blog" href="https://github.com/blog">Blog</a>
                        <<a class="help" href="https://help.github.com/">Help</a>
                    </ul>
                </div>-->
                

                <!--<div class="right-header">
                        <ul class="listIcon">

                                <li><img src="https://avatars.githubusercontent.com/u/10402427?v=3" alt="avatar" width="25px">
                                <span class=user-name>jtareb</span></li>
                                <li><span class="octicon octicon-plus"></span><span class="octicon octicon-triangle-down"></span></li>
                                <li><span class="octicon octicon-inbox"></span></li>
                                <li><span class="octicon octicon-gear"></span></li>
                                <li><span class="octicon octicon-sign-out"></span></li>
                            
                        </ul>
                </div>-->

            
            
        </header>

        <div class="sideBar">

            <div class="sideBar">
                <script type="text/template" id="userTemplate">
                    <div class="userSidebar">
                        <%=userAvatar%> 
                        <span class="nameFull"><%=userName%></span>
                        <span class="userLoginName"><%=userLogin%></span><br/>
                        <span class="octicon octicon-clock">Joined on <%=joinedDate%></span>
                        <div class="followers"><span><%=numFollower%></span><a href="<%=followersURL%>">Follower</a></div>
                        <div class="starred"><span><%=starredNumber%></span><a href="<%=starredURL%>">Starred</a></div>
                        <div class="following"><a href="<%=followingURL%>">Following</a></div>
                        <div class="orgList"><span><%=orgIcons%>Organizations</span><a href="<%organizationsURL%>"</a></div>
                    </div>

    
                </script>   

            </div>
        </div>

    <div class="main">

            <div class="tabBar">
                <ul>
                    <li><a href="#" class="conTab"><span class="octicon octicon-diff-added"></span>Contributions</a></li>
                    <li><a href="#" class="repoTab"><span class="octicon octicon-repo"></span>Repositories</a></li>
                    <li><a href="#" class="actTab"><span class="octicon octicon-rss"></span>Public Activity</a></li>
                </ul>

                <form action="https://github.com/settings/profile">
                    <input class="editProfile" type="submit" value="Edit profile">
                </form>
            </div>

                
        <div class="searchFilter">

            <form class="searchRepo">
                <input type="text" id="input_area" placeholder="Find a Repository">
                <input type="button" type="submit" value="search">
            </form>

            <ul class="repoFilter">
                <li><a href="#" class="allRepo">All</a></li>
                <li><a href="#" class="publicRepo">Public</a></li>
                <li><a href="#" class="privateRepo">Private</a></li>
                <li><a href="#" class="sourceRepo">Sources</a></li>
                <li><a href="#" class="forkRepo">Forks</a></li>
                <li><a href="#" class="mirrorRepo">Mirrors</a></li>
            </ul>

            <form action="https://gitub.com/new">
               <input class="newRepo" type="submit" value="New">
            </form>
        </div>

        <div class="innerMain">

        <!--Main Template-->
        <script type="text/template" id="repoTemplate">
                <div class="item">
                    <span class="nameLink"><%= repoLink %></span>
                    <div class="descriptColor"><%= descript %></div>
                    <div class="lastUp"><time><%= lastUpdated %></time></div>
                    <div class="borderLine"></div>
                </div>

    
        </script>   <!--end of template attempt-->


 






      </div>

      </div><!--main section close brace-->
      





  <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js scripts/main.js -->
    <script src="scripts/repo.js"></script>
    <script src="scripts/user.js"></script>
    <script src="scripts/main.js"></script>

</body>
</html>
